{% extends('base.html.twig') %}
{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ asset('assets-login/fonts/icomoon/style.css') }}">

	<link
	rel="stylesheet" href="{{ asset('assets-login/css/owl.carousel.min.css') }}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ asset('assets-login/css/bootstrap.min.css') }}">


{% endblock %}
{% block body %}
	<div class="content mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="https://learn.g2crowd.com/hubfs/iStock-1135541613.jpg" alt="Image" class="img-fluid">
				</div>
				<div class="col-md-6 contents">
					<div class="row justify-content-center">
						<div class="col-md-8">

							<form method="post">
								{% if error %}
									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								{% endif %}

								<h1 class="h3 mb-3 font-weight-normal">Authentication</h1>
								<div class="form-group">
									<label for="inputEmail">Email</label>
									<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
								</div>
								<div class="form-group">
									<label for="inputPassword">Password</label>
									<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
								</div>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

								<div class="form-group">
									<button class="btn btn-sm btn-block btn-primary" type="submit">
										Sign in
									</button>
								</div>

							</form>

						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
{% endblock %}
