{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Project List
{% endblock %}

{% block main %}
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Manage Projects</h1>
			{% if app.user.role == "ROLE_ADMIN" %}
				<a href="{{ path('app_project_new') }}" class="btn btn-sm btn-primary mt-5">
					<i class="fa fa-plus"></i>
					&nbsp; Add New Project</a>
			{% endif %}
			<div class="card mb-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					Projects List
				</div>
				<div class="card-body">

					<table id="datatablesSimple">
						<thead>
							<tr>
								<th></th>
								<th>Title</th>
								<th>Number of tasks</th>
								<th>Status</th>
								{% if app.user.role == "ROLE_ADMIN" %}
									<th>Actions</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for p in projects %}
								<tr class="text-center">
									<td>

										<img height="100px" width="100px" src="{{ asset('images/'~p.image) }}" alt="{{ p.title|replace({' ': '-'}) }}"/>
									</td>
									<td>{{ p.title }}</td>
									<td>{{ p.numberOfTasks }}</td>
									<td>
										{% if p.status == "DONE" %}
											<span class="badge bg-success">Done</span>
										{% elseif p.status == "BLOCKED" %}
											<span class="badge bg-danger">blocked</span>
										{% else %}
											<span class="badge bg-warning text-dark">in progress</span>
										{% endif %}
									</td>
									<td>
										{% if app.user.role == "ROLE_ADMIN" %}
											<a href="{{ path('app_project_show', {"id": p.id}) }}" class="btn btn-outline-primary" title="more details">
												<i class="fa fa-eye"></i>
											</a>
											<a href="{{ path('app_project_edit', {"id": p.id}) }}" class="btn btn-outline-warning text-dark" title="edit">
												<i class="fa fa-edit"></i>
											</a>

										{% endif %}
									</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>


{% endblock %}
