{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}Project Details
{% endblock %}

{% block main %}

	<main>
		<div class="container-fluid px-4 mt-5">
			<h1>Project Details</h1>
			<div class="row">
				<div class="col">
					<div class="card">
						{% if app.user.role == "ROLE_ADMIN" %}
							{{ include('project/_delete_form.html.twig') }}
						{% endif %}
						<div class="card-header">


							<span class="text-center">Title:
								{{ project.title | upper }}</span>

						</div>
						<div class="card-body">
							<div class="row">
								<div class="col text-center">
									<img class="img" height="300px" width="300px" src="{{ asset('images/'~project.image) }}" alt="{{ project.title|replace({' ': '-'}) }}"/>

								</div>
								<div class="col ">
									<ul class="list-group">
										<li class="list-group-item">Number of tasks:
											{{ project.numberOfTasks }}
										</li>
										<li class="list-group-item">Description:
											<p>{{ project.description }}</p>
										</li>
										<li class="list-group-item">Created at:
											<p>{{ project.getCcreatedAt | ago }}</p>
										</li>
										<li class="list-group-item">Status:
											{% if project.status == "DONE" %}
												<span class="badge bg-success">Done</span>
											{% elseif project.status == "BLOCKED" %}
												<span class="badge bg-danger">blocked</span>
											{% else %}
												<span class="badge bg-warning text-dark">in progress</span>
											{% endif %}
										</li>
										<li class="list-group-item">
											File:

											<a target="_blank" href="{{ asset('files/'~project.getFilenameOrUrl) }}">read file</a>

										</li>
									</ul>


								</div>
								<div class="card-footer">
									<a class="nav navlink" href="{{ path('app_project_index') }}">back to project list</a>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</main>
{% endblock %}
